/* The video's banner style */
.navbar {
  font-family: "Courier New", Courier, monospace;
}
.bg-light {
  background-color: #ffdac7;
}

.card.me {
  background-color: #ffefbc !important;
}
.card {
  border-radius: 0%;
  border: none;
}

.fontthrift {
  font-family: "Roboto", sans-serif !important;
}
.card-img-overlay {
  bottom: 20px !important;
  opacity: 0.8 !important;
}

.card-img {
  align-items: flex-end;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

body,
html {
  width: 100%;
  height: 100%;
  background: url(icon3.svg) no-repeat left;
}
.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
}

.heart {
  display: flex;
  justify-items: flex-end;
}
.card-tag {
  margin: 5px 0 0;
}
.card-circle {
  border: 1px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 25px;
  text-align: center;
  width: 25px;
}
